<h1>New Vehicle</h1>
<form>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="browser-default custom-select" (change)="onMakeChange()" [(ngModel)]="vehicle.make" name="make">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="browser-default custom-select">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id}}">{{ m.name }}</option>
    </select>
  </div>
  <p>Is this vehicle registered?</p>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="registered" value="true" class="custom-control-input" name="registered">
    <label for="registered" class="custom-control-label">Yes</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="notRegistered" value="false" class="custom-control-input" name="registered">
    <label for="notRegistered" class="custom-control-label">No</label>
  </div>

  <h2>Features</h2>
  <div *ngFor="let f of features" class="custom-control custom-checkbox">
    <input type="checkbox" id="feature{{ f.id }}" class="custom-control-input">
    <label for="feature{{ f.id }}" class="custom-control-label"> {{ f.name }}</label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input type="text" id="contactName" class="form-control">
    <label for="contactPhone">Phone</label>
    <input type="text" id="contactPhone" class="form-control">
    <label for="contactEmail">Email</label>
    <input type="text" id="contactEmail" class="form-control">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
